<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
  xmlns:tizen="http://tizen.org/ns/widgets"
  id="com.partnersec.cmsplayer"
  version="0.1.0"
  viewmodes="maximized">
  <name>Samsung CMS Player</name>
  <content src="index.html"/>
  <feature name="http://tizen.org/feature/screen.size.all"/>
  <access origin="*" subdomains="true"/>
  <tizen:application id="com.partnersec.cmsplayer" package="cmsplyr01" required_version="5.5"/>
  <tizen:profile name="tv-samsung"/>
  <tizen:privilege name="http://tizen.org/privilege/internet"/>
  <tizen:setting screen-orientation="landscape" context-menu="disable" background-support="disable" encryption="disable" install-location="internal-only" hwkey-event="enable"/>
</widget>
